<br />
<div class="btn_accueil">
    <a class="btn" href="/home/index">Accueil</a>
</div>
<div class="btn_ajouter">
    <a class="btn" href="/home/ajouter">Ajouter article</a>
</div>
<div class="btn_apropos">
    <a class="btn" href="/home/apropos">À propos</a>
</div>
