
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>apropos</title>
</head>
<body style="background-color:cadetblue;">
    @Html.ActionLink("Accueil", "Index")
    <br /><br /><br />
    <div>Site cree par: Yassine Al Atia, Mohammed Hasni, Lucian Oglinda 
    </div>
   
</body>
</html>
